{% extends 'page.html.twig' %}
{% block title %}Blog | Gingercup{% endblock %}

{% block javascript %}

{% endblock %}


  {% block body %}
<section class="section clearfix">
<div class="container">
    <h1 class="text-center heading">Blog</h1>
    <div class="row">
        <div class="col-lg-12">
            <p>Clovia’s recent outdoor campaign in the online lingerie category hits the market with an innovative activation.</p>

<p>Read More here in<a title="Cup Advertising By GingerCup" href="http://www.afaqs.com/news/story/46560_Whats-your-cup-size-asks-Clovia" target="_blank">Afaqs!</a></p>
                        <p>Offline marketing is like a breath of fresh air in today’s times, where people are blindly jumping onto the Digital Bandwagon for the sake of it.</p>

        <p>Read More Why Offline marketing matters in <a title="Why Offline Marketing Matters?" href="http://techstory.in/offline-marketing/" target="_blank">TechStory</a></p>
        </div>
    </div>
    </div>
</section>
{% endblock %}