{% extends 'page.html.twig' %}




  {% block body %}
    <section class="section clearfix">
        <div class="container">
            <div class="row">
                 <div class="small-gap"></div>
                 <div class="small-gap"></div>
                <h2>Sorry, the link you clicked was invalid or has expired</h2>
                
                </div>
            </div>
</section>
{% endblock %}