
    <section class="section clearfix">
        <div class="container">
            <div class="row" style="margin-left:50px !important; ">
            
                <h2 > You have registered successfully</h2>
                
                </div>
            </div>

        </div>
</section>