{% extends 'page.html.twig' %}
{% block title %}MEDIA PARTNERS | GingerCup{% endblock %}

{% block javascript %}

{% endblock %}

{% block meta %}
<meta name="description" itemprop="description" content="GingerCup takes marketing up close and personal. It reflects the personalised branding strategy that GingerCup provides to its clients. ‘Simple yet dynamic’ is" />
<meta name="keywords" content="Paper Cup Advertising,paper cup marketing,coffee cup advertising,paper cup advertising India,cup advertising,printed paper cups,Free Paper Cup Advertising,advertising coffee cup,advertising cup,coffee cup advertising,coffee mug advertising,ginger cups,advertising mug,paper cup media,paper cup market,ginger paper,paper cup with logo">
<link rel="canonical" href="http://www.gingercup.com/media-partners/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="MEDIA PARTNERS - GingerCup" />
<meta property="og:url" content="http://www.gingercup.com/media-partners/" />
<meta property="og:site_name" content="GingerCup" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="MEDIA PARTNERS - GingerCup" />
{% endblock %}

  {% block body %}
<section class="section clearfix">
<div class="">
    <h1 class="text-center page-heading">Media <span>Partners</span></h1>
    <div class="row">
        <div class="col-lg-12">
            <p class="site-content">GingerCup takes marketing up close and personal. It reflects the personalised branding strategy that GingerCup provides to its clients. ‘Simple yet dynamic’ is the motto we believe in. The service offering is simple “the coffee cup with the logo of the brand on it” but how the marketing strategy evolves from this coffee cup is dynamic. That’s the GingerCup story</p>
            
            <div class="small-gap"></div>

    <p class="site-content">Our media partners help us reach out to those who may be interested in availing our marketing services. They also help our achievements be recognised by industry experts.  One such case in point was the Clovia campaign which got us recognition for our efforts. Our article on the Clovia campaign got published on the Afaqs webpage and it continued to be the most viewed OOH advert for more than two weeks. Also, it was the third most viewed advert of the day in all categories taken together. This was the first time our efforts got us rave reviews. Some experts called our marketing model a masterstroke as it is strategically focussed to reach the target market. We call it personalized marketing. Marketing that is articulated to reach those who need those products/services more than others</p>
            <div class="small-gap"></div>
        </div>
    </div>
    </div>
</section>
{% endblock %}