{% extends 'page.html.twig' %}
{% block title %}Free Paper Cup Advertising  - Personalized Cups | GingerCup{% endblock %}

{% block javascript %}

{% endblock %}

{% block meta %}
<meta name="description" itemprop="description" content="Build your brand awareness through disposable paper cup advertising .Get ad space on Gingercup's customized disposable cups & generate your target audience." />
<meta name="keywords" content="Paper Cup Advertising,paper cup marketing,paper cup advertising India,cup advertising,printed paper cups,Free Paper Cup Advertising,paper cup media,paper cup market,paper cup with logo">
<link rel="canonical" href="http://www.gingercup.com/paper-cup-advertising/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Paper Cup Advertising - GingerCup" />
<meta property="og:url" content="http://www.gingercup.com/paper-cup-advertising/" />
<meta property="og:site_name" content="GingerCup" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Paper Cup Advertising - GingerCup" />
{% endblock %}


  {% block body %}
<section class="section clearfix page">
<div class="">
    <h1 class="text-center page-heading"><span>Paper Cup</span> Advertising</h1>
    <div class="small-gap"></div>
    <div class="row">
        <div class="col-lg-12">
           <p>Gingercup believes in marketing that is up close and personal, reflecting the branding strategy customized for its clients. We believe in the motto – ‘Simple yet dynamic’.Our service offering is simple – <b>‘The coffee cup with the logo of the brand on it’</b>. How the marketing strategy evolves from this coffee cup is dynamic… That is the GingerCup story!</p>
        </div>
    </div>
    <div class="small-gap"></div>
       <div class="row">
        <div class="col-lg-4">
            <div class="row text-center">
                <img src="{{ asset('images/Image-1-1.png') }}">
            </div>
            <div class="row text-center">
                <h3 class="sub-title">Brand Awareness</h3>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <p class="page-text">Want to advertise your brand to your target audience when they’re at leisure? You can expect quality time that would increase chances of attracting them to your offers. This attention will convert your adverts into actual sales!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row text-center">
                <img src="{{ asset('images/Image-2.png') }}">
            </div>
            <div class="row text-center">
                <h3 class="sub-title">Targeted Consumer Reach</h3>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <p class="page-text">At GingerCup, we put a lot of thought and brainstorm for hours to finalise masses who would consume beverages in the cups we distribute. We later go on to find tea vendors who can take your brand right into the hands of your prospective customers, helping you garner more attention. .</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row text-center">
                <img src="{{ asset('images/Image-3.png') }}">
            </div>
            <div class="row text-center">
                <h3 class="sub-title">Feedback & Campaign Report</h3>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <p class="page-text">Making informed decisions in today’s data-driven world is indispensable for any business. We realize the importance of actionable insights through feedback, and take relevant feedback from people consuming beverages in our cups. We ask them about the product/service advertised, and counsel them into knowing how to avail the same.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="small-gap"></div>
    <div class="row">
        <div class="col-lg-12 page-text">
            <p>We do offer GingerCups carrying brand logo, service or product descriptions along with promotional offerings. But that is just one of the many things we do for you…</p>
            <p>When approached by our clients, we dig deep into their needs by understanding their business and target audiences. We create a unique marketing strategy, keeping your business, dynamics, reach and target audiences in consideration. This helps us come up with targeted campaigns that are in complete sync with our marketing goals.</p>
            <p>Your brand logo, service/product descriptions along with promotional offerings are packaged on the cup are designed to catch eyeballs. We distribute these cups to tea vendors for free, which makes our vendors more than happy to serve tea to their customers in our cups, at prime locations!</p>
            <p>Brands make waves when the design catches the fancies of people, who discuss the brand and its offerings. Leveraging this opportunity well, our outdoor marketing team collects their valuable feedback, and gauge their interest in your offer. This feedback, along with a thorough analysis of your target market gives you actionable insights and success rate of our marketing campaign.</p>
        </div>
    </div>
    <div class="small-gap"></div>
    </div>
</section>
{% endblock %}