{% extends 'page.html.twig' %}
{% block title %}GINGERCUP STORIES | GingerCup{% endblock %}

{% block javascript %}

{% endblock %}
  {% block body %}
<section class="section clearfix page">
<div class="">
    <h1 class="text-center page-heading"><span>Privacy</span> Policy</h1>
    
    <div class="small-gap"></div>
    
    <div class="row">
       
        <div class="col-lg-12">
				<p>Thank you for visiting our website. This privacy policy tells you how we use personal information collected at this site. Please read it before using the site or submitting any personal information. By using the site, you are accepting the practices described in this privacy policy. You are encouraged to review the privacy policy whenever you visit the site to make sure that you understand how any personal information you provide will be used.</p> 
<p><b>Note:</b> The privacy practices set forth are for this website only. If you link to other websites, please review the privacy policies posted at those sites.</p> 
<p>We are dedicated to protecting your privacy, and handling any personal information we obtain from you with care and respect. We will not give, sell, share, or rent your information with others. If you have any questions regarding the information we provide, please feel free to contact us.</p>
<h3>Collection of Information</h3>
<p>We collect personally identifiable information like names, postal address and email address when voluntarily submitted by our visitors. This information is only used to fulfil your specific request, unless you give us permission to use it in another manner, for example to add you to one of our mailing lists.</p>
<h3>Cookie Technology</h3>
<p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p> 
<h3>Distribution of Information</h3>
<p>We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or, (3) investigating fraud which has already taken place. The information is not provided to these companies for marketing purposes.</p>
<p>Your personally identifiable information is kept secure. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. All emails and newsletters from this site allow you to opt out of further mailings.</p> 
<p><b>We reserve the right to make changes to this policy. Any changes to this policy will be posted.</b></p>
				
        </div>
        
    </div>
    
    <div class="small-gap"></div>

</div>
</section>
{% endblock %}