{% extends 'page.html.twig' %}




  {% block body %}
    <section class="section clearfix">
        <div class="container">
            <div class="row">
                 <div class="small-gap"></div>
                 <div class="small-gap"></div>
                <h2 style="margin-left:50px; ">Your information has been submitted successfully</h2>
                
                </div>
            </div>

        </div>
</section>
<script> function gtag_report_conversion(url) { var callback = function () { if (typeof(url) != 'undefined') { window.location = url; } }; gtag('event', 'conversion', { 'send_to': 'AW-801945671/TJyxCI3QyoMBEMfwsv4C', 'event_callback': callback }); return false; } </script>
{% endblock %}