{% extends 'page.html.twig' %}
{% block title %}GINGERCUP STORIES | GingerCup{% endblock %}

{% block javascript %}

{% endblock %}
  {% block body %}
<section class="section clearfix page">
<div class="">
    <h1 class="text-center page-heading">Terms and Conditions</h1>
    
    <div class="row">
       
        <div class="col-lg-12">
				<p>Please take a few minutes to read our general terms and conditions. By

browsing or accessing our website, you accept our terms of use in full length.</p>

<p>This website may be used for private purpose in accordance with these terms of

use. You may print and download material from this website provided you do

not modify it or reproduce it in some other form to a third party. Before taking

any action with regard to content, a formal written consent is a must. The text,

images and all data (the content) of the website are under strict copyright. The

content of the website is copyrighted by the owners (GingerCup).</p>

<p>All reasonable measures are taken by us to ensure that this website is

operational all day, every day. However, occasionally technical issues may

result in some downtime and accordingly we will not be liable if this website is

unavailable at any time. Where possible, we always try to give advance warning

of maintenance issues that may result in website down time but we shall not be

obliged to provide such notice.</p>

<p>Any material that a visitor sends or posts to the website shall be considered non-

proprietary and non-confidential. We shall be entitled to copy, disclose,

distribute or use the information for any other purpose as we deem appropriate

all material provided to us.</p>

<p>Throughout this website you may find links to third party websites. The

provision of a link to such a website does not mean that we endorse that

website. If you visit any website via a link on this website, you do so at your

own risk.</p>

<p>Unauthorised use of this website may give rise to a claim for damages and/or be

a criminal offence.</p>
<h3>Manufacturing of paper cups</h3>
<ul>
	<li>The stipulated time frame to manufacture paper cups is 2 weeks. However, there may be a situation wherein it may take more than 2 weeks due to unavailability of labour, raw materials or resources. You are requested to bear with this.</li>
	<li>The raw material used to manufacture the paper cups will be strictly from ITC paperboard. However, in case on unavailability, an alternate material which is at par with ITC will be used.</li>
	<li>The ink used on the paper cups is food-grade equivalent. Due to conditions such as uneven drying of ink, the paper cup may emit a slight odour. Please note, under such conditions, the paper cups is 100% safe to use, non-hazardous and will not cause any untoward health conditions</li>

</ul>
<h3>Distribution of paper cups</h3>
<ul>
	<li>Every campaign carried out by http://www.gingercup.com/ has 1 lakh branded paper cups distributed. Due to logistic issues, sometimes there may be an excess or deficit. In case of deficit, GingerCup will bear the expenses. However, if there is an excess, the cost will have to be borne by you.</li>
	<li>GingerCup has a fixed list of colleges and offices in every city where the marketing media are distributed. This list will be shared with you during the campaign. For any reason if GingerCup is not able to distribute the media to a particular college/office, we are not responsible.</li>
	<li>Branded paper cups by GingerCup are purely a marketing and branding medium and we do not guarantee sales, conversions or output of your product/service.</li>
	
</ul>
<h3>Receiving of paper cups </h3>
<ul>
	<li>GingerCup distributes its marketing media to colleges/offices only when it is conducting a campaign. We are not liable to distribute paper cups on a monthly basis.</li>
	<li>It is completely at our discretion if we want to distribute paper cups to a particular college/office or not. We may also withdraw distributing marketing media to a college/office for future campaigns</li>
	<li>The marketing media distributed have to be used by that facility only. It cannot be transferred, distributed or shared to any third persons/companies.</li>
	<li>It is important that the marketing media distributed is used within the time frame of the campaign. GingerCup is distributing the paper cups for immediate use, and hence cannot be stored.</li>
	<li>If for any reason, you do not use all the paper cups, the excess have to be returned to us.</li>
	<li>GingerCup will not be responsible if the marketing media emits a slight odour. If such be the case, patrons can be assured that it is completely safe to serve hot/cold beverages. </li>
</ul>
<h3>Campaign</h3>
<ul>
	<li>Post the completion of the campaign; you will be given a campaign report. GingerCup has the right to use the report for promotion, marketing and pitching for future clients</li>
	<li>We may also publish such reports on the internet and social media platforms</li>
	<li>The photographs taken during the campaign may not always be authentic. For example: If the campaign is in Delhi, but due to unavailability of our photographer, and photographs cannot be taken, then we have the right to take pictures from our location. You can be assured that this in no way will affect your reach and distribution of branded paper cups</li>
	<li>The campaign photographs are always taken after the consent of the person, and each one is notified of its use and distribution.</li>
	<li>GingerCup has the right to publish pictures taken during the campaign on social media platforms
		<ul>
			<li><a href="https://www.facebook.com/gingercup">https://www.facebook.com/gingercup</a></li>
			<li><a href="https://twitter.com/ginger_cup">https://twitter.com/ginger_cup</a></li>
			<li><a href="https://www.linkedin.com/company/gingercup">https://www.linkedin.com/company/gingercup</a></li>
		</ul>
	</li>
</ul>

<p><b>Changes to these terms of use will be made as and when new policies or laws are introduced. </b></p>
        </div>
        
    </div>
    
    <div class="small-gap"></div>

</div>
</section>
{% endblock %}