
body{/* padding-top:101px; */font-family:"Open Sans";background-color:#D9D9D9;}
.navbar-inverse .navbar-nav>li>a{font-family:'Open Sans';color:#FFF;font-weight:bold;}
.nav.navbar-nav.navbar-right{padding-top:14px;}
.navbar-header{}
.top-header{padding-top: 10px;background-color: #FFF;}
#page-content{background-color: #FFF;}
.top-bar{padding-top: 23px;background-color: #000;
    border-color: #000;}
.navbar {margin-bottom: 0px;background-color: #FFF;}
.navbar-nav>li>a {
    color: #727376;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 24px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-nav.seo-links>li>a {   
    padding: 10px 65px;
}
.navbar-nav li:not(:first-child){
    box-shadow: -14px 0 0 -13px #727376
}
.heading:after,.page-heading:after,.heading:before,.page-heading:before {
    content:'';
    position:absolute;
    left:0;
    right:0;
    margin: 0px auto;
    height: 1px;
    background:#000;
}
.heading:after,.page-heading:after {
    top:100%;   
    width: 16%;
}
.heading:before,.page-heading:before {
    bottom: -8px;
    width: 9%;
}
.page-heading,.heading,.section-heading{
color:#000;font-weight:700 !important;font-size:28px;line-height:38px;padding-top:20px;font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
    font-weight:bold;
    letter-spacing:-1px;
    word-spacing:-1px;
    position:relative;
}
.section-heading{
	padding-top:5px;
}
.heading span,.page-heading span,.section-heading span{color:#FD143A;}
.contact-text{}
.contact-text p{margin: 0}
.box-row{
	margin: 0;
	padding-left: 20px;
    padding-right: 20px;
}
.box-outer{
	padding-left: 5px;
    padding-right: 5px;   
}
.box-bottom{
	padding-top: 10px;
	float: left;
}
.box-right{
	float: right;
}
.campaign-btn{
	margin-top: 15px;
}
/* .box-outer:first-child{
	padding-left: 30px;
}
.box-outer:last-child{
	padding-right: 30px;
} */
.box{
	/* padding: 17px;
    padding-left: 5px;
    padding-right: 5px; */
}
.box-img-outer{border: 1px solid #727376;padding: 9px;overflow: hidden;}
.box-img{position: relative;text-align: center;margin: 0 ;overflow: hidden;}
.box-img img{
	/* padding: 9px; */
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	max-width: 100%;
	    width: 100%;
	}
.box-img:hover img {
	/* padding: 9px; */
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	overflow: hidden;
}
.box-img h3{
	position: absolute;
    top: 21%;
    left: 23%;
    color: #FFF;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    width: 55%;
    font-size: 37px;
    font-weight: bold;
        padding-bottom: 9px;
}
.box-img h3.launch{
    top: 34%;
}
.box-img h3.long-text{
    left: 14%;
    width: 74%;
}
.box-img h3.d-plan{
    left: 21%;
    width: 61%;
	}
.adv{
	 min-height: 70px;
    padding-top: 7px;
}
.page-text {
    color: #333333;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: justify;
    font-size: 13px;
   
}
.ad-title{font-size:20px;font-family: 'Open Sans';font-weight:600;color:#333333;    letter-spacing: 0.2px;line-height: 1.3;}
.paper-title{font-family:'Open Sans';font-size:24px;line-height:34px;color:#121215;font-weight:normal;}
.coffee-title{font-weight: 700;font-family: 'Open Sans', Helvetica, Arial, sans-serif;color: #666666;font-size: 14px;line-height: 24px;}
.story-title{font-weight: 700;font-family: 'Open Sans', Helvetica, Arial, sans-serif;color: #716a6a;font-size: 1.2em;}
.story-text{font-family: 'Open Sans', Helvetica, Arial, sans-serif;color: #716a6a;font-size: 1.2em;}
.paper-text{font-family:'comic sans ms', sans-serif;color:#666666;font-size:14px;line-height:24px;text-align: justify;}
.ad-text{color: #333333;font-family: 'proxima-nova', Helvetica, Arial, sans-serif;text-align: justify;font-size: 13px;}
.Campaign-title{font-size:20px;}
.read-more{padding:7px 20px;background-color:#FD143A;border: none;}
.read-more:hover{padding:7px 20px;background-color:#727376;border: none;}
hr{border-top:2px solid #eee;}
.slider-label{z-index:5;white-space:normal;font-size:24px;line-height:22px;font-weight:400;color:rgb(255, 255, 255);visibility:inherit;transition:none;border-width:0px;margin:0px;padding:0px;letter-spacing:0px;opacity:1;transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);transform-origin:50% 50% 0px;}
#icon_wrapper{position:fixed;top:25%;left:0px;z-index:99999;}
.awesome-social{color:white !important;text-align:center !important;
    line-height: 35px !important;
    width: 36px !important;
    height: 38px !important;
    font-size: 23px !important;text-shadow:2px 2px 4px #000000;border-radius:4px !important;}
.fuse_social_icons_links{outline:0 !important;}
.fuse_social_icons_links:hover{text-decoration:none !important;}
.fb-awesome-social{background:#3b5998;}
.tw-awesome-social{background:#00aced;}
.rss-awesome-social{background:#FA9B39;}
.linkedin-awesome-social{background:#007bb6;}
.youtube-awesome-social{background:#bb0000;}
.flickr-awesome-social{background:#ff0084;}
.pinterest-awesome-social{background:#cb2027;}
.stumbleupon-awesome-social{background:#f74425;}
.google-plus-awesome-social{background:#f74425;}
.instagram-awesome-social{background:#517fa4;}
.tumblr-awesome-social{background:#32506d;}
.vine-awesome-social{background:#00bf8f;}
.vk-awesome-social{background:#45668e;}
.soundcloud-awesome-social{background:#ff3300;}
.reddit-awesome-social{background:#ff4500;}
.stack-awesome-social{background:#fe7a15;}
.behance-awesome-social{background:#1769ff;}
.github-awesome-social{background:#999999;}
.envelope-awesome-social{background:#ccc;}
.awesome-social{-webkit-transition-property:color, text;-webkit-transition-duration:0.25s, 0.25s;-webkit-transition-timing-function:linear, ease-in;-moz-transition-property:color, text;-moz-transition-duration:0.25s;-moz-transition-timing-function:linear, ease-in;-o-transition-property:color, text;-o-transition-duration:0.25s;-o-transition-timing-function:linear, ease-in;}
.fb-awesome-social:hover{color:#3b5998 !important;}
.tw-awesome-social:hover{color:#00aced !important;}
.rss-awesome-social:hover{color:#FA9B39 !important;}
.linkedin-awesome-social:hover{color:#007bb6 !important;}
.youtube-awesome-social:hover{color:#bb0000 !important;}
.flickr-awesome-social:hover{color:#ff0084 !important;}
.pinterest-awesome-social:hover{color:#cb2027 !important;}
.stumbleupon-awesome-social:hover{color:#f74425 !important;}
.google-plus-awesome-social:hover{color:#f74425 !important;}
.instagram-awesome-social:hover{color:#517fa4 !important;}
.tumblr-awesome-social:hover{color:#32506d !important;}
.vine-awesome-social:hover{color:#00bf8f !important;}
.vk-awesome-social:hover{color:#45668e !important;}
.soundcloud-awesome-social:hover{color:#ff3300 !important;}
.reddit-awesome-social:hover{color:#ff4500 !important;}
.stack-awesome-social:hover{color:#fe7a15 !important;}
.behance-awesome-social:hover{color:#1769ff !important;}
.github-awesome-social:hover{color:#999999 !important;}
.thumbnail{border:none !important;}
.site-content{color:#716a6a;font-size:12pt;font-family:'Open Sans';line-height:24px;}
.small-gap{margin:40px;}
.small-gap2{margin:10px;}
.carousel-indicators .active{background:#31708f;}
.content{margin-top:20px;}
.adjust1{width:100%;margin-bottom:0;padding: 0;}
.adjust2{margin:0;}
#testimonials{
	background-color: #000;
	padding-bottom: 10px;
}
.thumbnail .caption,.caption .text-info {
    color: #FFF;
        margin: 2% auto auto;
}
.thumbnail .caption blockquote {
    border: none;
}
.carousel-indicators li{border:1px solid #ccc;}
.carousel-control{color:#31708f;width:5%;}
.carousel-control:hover, .carousel-control:focus{color:#31708f;}
.carousel-control.left, .carousel-control.right{background-image:none;}
.carousel-inner.main .item img{
width: 100% !important;;
height: 300px !important;
}
.blog-link{
	color: #000;
}
i.custom-quote {
   color: #FFF;
    margin-bottom: -20px;
    font-size: 21px;
    font-weight: normal;
}
.user-account label span{color: #FD143A}
.media-object{margin:auto;margin-top:15%;}

.step{display:none}.step.active{display:block}.classic-title{margin-bottom:16px;padding-bottom:8px;border-bottom:1px solid #eee;font-weight:400}.classic-title span{padding-bottom:8px;border-bottom:1px solid;border-bottom-color:#2828fa;margin-left: 25px }
.only-mobile{display: none !important;}
.free-cups{ color: #fff;background-color: #FD143A;border-color: #d43f3a;padding: 9px 12px;font-weight: bold; border-radius: 4px; display: inline-block}
.contact-popup1{ color: #fff;background-color: #FD143A;border-color: #d43f3a;padding: 9px 12px;font-weight: bold; border-radius: 4px; display: inline-block}
.contact-popup2{ color: #fff;background-color: #FD143A;border-color: #d43f3a;padding: 9px 12px;font-weight: bold; border-radius: 4px; display: inline-block}
@media screen and (max-width:768px){
	
#testimonials {
    width: 290px;
}
.thumbnail .caption, .caption .text-info{
	width: 230px;
}
	
	.media-object{margin-top:0;}
	.box-right{
		float: none;
	}
	.box-img h3.long-text{
    top: 13%;
	}
	.box-img h3.d-plan{
    left: 14%;
    width: 74%;
	}
	.box-img h3 {    
    font-size: 35px;
	}
	.box{
		text-align: center;
	}
	.box .read-more {
    	margin-bottom: 20px;
	}
	.carousel-inner.main .item img {
    height: 149px !important;
	}
	.fuse_social_icons_links {
   		display: inline-block !important;
	}
	.heading {padding-top: 0px}
	
	.caption {
		width:280px;
	}
	.adjust2{
		text-align: center;
	}
	.read-more{
		href:hidden;
	}
	
	
}
.footer-top{
	background: #000;
    color: #FFF;
    padding-bottom: 10px;
}
.semi-circle-border{
	position: relative;
}
.semi-circle-border:before{
	content: "";
    display: block;
    height: 9px;
    background: url(../images/half_cirlce.png);
    /* background: radial-gradient(circle, black 60%, transparent 10%) 15px 15px; */
    position: absolute;
    bottom: -8px;
    width: 100%;
    left: 0px;
}
.contact-btn{
	    background: #000;
    border: 1px solid;
}
.page{
	padding: 15px;
}
.footer{padding:20px 0;line-height:20px;font-size:12px;background:#000000;color:#999999;}
.footer .terms a{color:#606060;}
.make-margin{margin:15px 0 15px !important;}
.papercup-text{font-family:'comic sans ms', sans-serif;font-size:15px;text-align:center;line-height:34px;}
.coffee-text{font-family: 'Open Sans', Helvetica, Arial, sans-serif;color: #666666;font-size: 14px;line-height: 24px;}
@media (min-width:768px){#testimonials{height:200px;}
.seohometag{
	font-size: 10px;
   margin-left: 100px;
	}

}
@media (max-width:510px){
        
    .navbar-default .navbar-nav>li>a{padding: 2px 5px 8px !important;font-size: 9px !important; }
    .user-account label{display: block;}
    
   /* .user-account a{display: none;}*/
    .user-account.pull-right{float: left !important;margin-bottom: 10px;}
    .only-mobile{display: block !important;}
    .only-web{display: none !important;}
    
}

#slide-nav .navbar-toggle{cursor:pointer;position:relative;line-height:0;float:left;margin:0;width:30px;height:40px;padding:10px 0 0 0;border:0;background:transparent;}
#slide-nav .navbar-toggle > .icon-bar{width:100%;display:block;height:3px;margin:5px 0 0 0;background:#000}
#slide-nav .navbar-toggle.slide-active .icon-bar{background:#000}
.navbar-header{position:relative}
.navbar.navbar-fixed-top.slide-active{position:fixed;}
@media (max-width:767px){#slide-nav .container{margin:0;padding:0!important;}
#slide-nav .navbar-header{margin:0 auto;padding:0 15px;}
#slide-nav .navbar.slide-active{position:fixed;width:80%;top:-1px;z-index:1000;}
#slide-nav #slidemenu{left:-100%;width:38%;min-width:0;position:fixed;padding-left:0;z-index:20;top:10%;margin:0;height:100%;}
#slide-nav #slidemenu .navbar-nav{min-width:0;width:100%;margin:0;}
#slide-nav #slidemenu .navbar-nav .dropdown-menu li a{min-width:0;width:80%;white-space:normal;}
#slide-nav{border-top:0}
#slide-nav.navbar-inverse #slidemenu{background:#333}
/* #slide-nav #navbar-height-col{position:fixed;top:0;height:100%;width:40%;left:-80%;background:#eee;z-index:17;} */
#slide-nav #navbar-height-col{position:fixed;top:0;height:100%;width:40%;left:-80%;background:#000;z-index:17;}
#slide-nav.navbar-inverse #navbar-height-col{background:#333;z-index:1;border:0;}
#slide-nav .navbar-form{width:100%;margin:8px 0;text-align:center;overflow:hidden;}
#slide-nav .navbar-form .form-control{text-align:center}
#slide-nav .navbar-form .btn{width:100%}
.navbar-nav>li>a{
	/* font-size: 9px; 
	color:#f5f5f5;*/
	font-size: 15px;
	color:#f5f5f5;
}
.navbar-nav.seo-links>li>a{
	color:#000;
}
}
@media (min-width:768px){#page-content{left:0!important}
.navbar.navbar-fixed-top.slide-active{position:fixed}
.navbar-header{left:0!important}
}
#our_clients a
{
	    text-decoration: none!important;
	    color:#fff;
}
#advertise .radio {
    display: inline;
    margin-left: 2%;
}


.advertiseButton {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 2.5em;
  margin: auto;
  background: #FD143A;
}
.advertiseButton {
   right: 0;
   -webkit-transform-origin: 100% 50%;
      -moz-transform-origin: 100% 50%;
       -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
           transform-origin: 100% 50%;
   -webkit-transform: rotate(90deg) translate(50%, 50%);
      -moz-transform: rotate(90deg) translate(50%, 50%);
       -ms-transform: rotate(90deg) translate(50%, 50%);
        -o-transform: rotate(90deg) translate(50%, 50%);
           transform: rotate(90deg) translate(50%, 50%);
}


.referstory a {
    text-decoration: none;
    color: white;
}
.contactform{
	
	    width: 102%;
}
.paperstory{
	
	color: white;
}
.paperstory2 h3 {
    position: absolute;
    top: 22%;
    left: 23%;
    color: #FFF;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    width: 55%;
    font-size: 34px;
    font-weight: bold;
    padding-bottom: 9px;
}

.paperstory3 h3{
	left:5%;
	width:94%;
}

/*

.test1{
 width: 100px;
    height: 100px;
    background: red;
    position: fixed;
    -webkit-animation: mymove 5s infinite; 
    animation: mymove 5s infinite;
}



@-webkit-keyframes mymove {
    from {Right: 200px;}
    to {Right: 0px;}
}
@keyframes mymove {
    from {Right: 200px;}
    to {Right: 0px;}
}
*/

.bounce {
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

.popupfooter{
	
	padding: 18px 0;
    line-height: 2px;
    font-size: 14px;
}
.popupsubmit{
	padding: 3px 16px;
    font-size: 16px;
}
.contentpopup  {
	 width: 75%;
    
}

.img-center{
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}
.tabletest td{
	
	
  word-break:break-all;
  
	}
	
.reachuspage{

font-weight: 600 !important;
font-size: 28px;
line-height: 23px;
 padding-top: 0px;
    margin-top: 2px;
}	


	.contactformtextarea{
	
	width: 98%;
    height: 80px;
	
	}
	
	.contactformsubmit{
	margin-right: 175px;
	margin-top: -46px;
    
    margin-bottom: 20px;
    margin-left: 560px;
	}
	
	
	
	.storytitle{
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-left: 18px;
	}
	.coffeetitle{
	margin-left: 0px;
	}
	.storybox{
	    min-height: 550px;
	    padding-left: 15px;
    padding-right: 15px;
	}
	.galleryimgbox{
	    max-width: 350px;
    max-height: 290px;
    display: block;
    }
   
    .containerstory {
    width: 1275px;
	}
    .medialinkright{
    margin-right:25px;
    margin-bottom: 10px;
    background-color:#FD143A; }
    
    .medialinkleft{
    margin-left:25px;
    margin-bottom: 10px;
    background-color:#FD143A;}
    
    .contactborder{
    padding-top: 0px;
	margin-left: 25px;}
    
    .contactfont{
    color: #f5f5f5;
    text-align: center;
    }
    .contarea{
    height:100px !important;
    }
   @media (max-width:768px){
   .jssort04{
   display: none !important;
   }
   .advertiseButton{
   display: none !important;
   }
   .captchaclass{
   width:100% !important;
  
  }
   .captchamargin{
    margin-left: 12px !important;}
    .captchaclassbutton{
    margin-left: -12px; }
    .popupmobile{
        left: 45px;}
  
   .mobilemenu{
   	 color: #eee;}
   	 .menucolor{
   	 background: #000;}
   	 
 .menudisplay li a:hover{
 background-color: #b16363;
}
.semi-circle-border{
	/*position: static;*/
	position:relative;   
}
.caroselheight{
	 margin: 0px -16px 10px !important;
}
.clientnamebutton{
	display:none;
	
}
   	
   	 } 
   	 
   	 
 .newbordercontact{
 width: 250px;
     margin-left: 60px;
 }
 .contactbelow{
  float: left;  width: 200px;
  }
 
}
  @media (max-width:468px){
  
  .newbordercontact{
 width: 250px;
     margin-left: 34px;
 }
  .contactformsubmit {
   display:none;
}
  }
@media (max-width:768px){
 .newbordercontact { 
    margin-left:5px !important;
}
 .mailmedia {
    text-align: center !important;
 }
 #subscribe-letter{
	padding:5px !important;
}
.col-lg-12 {
    padding-right: 5px;
    padding-left: 5px;
}	
.box-row {
    padding-left: 10px;
    padding-right: 10px;
}
 .seo-links li a{
	 list-style-type: none !important;
 } 
  
  .contactbtndown{
margin-top: 100px;
    margin-bottom: 10px;
}
  .contactbelow{
  float: left;  width: 200px;
  }
  .newbordercontact{
 width: 250px;
     margin-left: 40px;
 }
  
  h3 {
    font-size: 15px;
  
  }
 /* .mediacontactblock{
  width: 29.333333%;
  }*/
  
.popupfooter {
    
    line-height: 20px;
    font-size: 10px;
}


.mailmedia{
text-align: left;
font-size: 9px;
margin-left: -14px !important; 
}
.mediacaptchaimage{    
width: 100px;
    height: 35px;
}
.captchaform {
    width: 66%;
    margin-top: 43px !important;
    margin-left: 20px !important;
}
.poweredBy{
          display: none;
      }
.mediacallview{  
      margin-left: 20px;
    }
.navbar-nav>li>a {
    font-size: 15px;
    color: #555;
}
.mediatwitter{
	margin-left: 13px;
}

.captchaformview{
	 margin-left: -64px;
    margin-top: 55px;
}

.contctcaptchamobile{
	margin-top: 82px !important;
	
}


  }  
  
 .contactgood{
 margin-left: 80px;
 } 
  
.contacttwitter{
	text-align: center;
	 margin-left: -14px;
	}
.colortwitter{
	font-size:20px; 
	color:#3ebdf1;
}
 @media (min-width:768px) and @media(max-width:1024px){

 .newbordercontact{
    width:auto;
     margin-left:34px;
 }

 .campaign-btn {
        margin-left: -120px;
}
.captcha768{
	    margin-left: -1px !important;
	        
}

.togglebar{
	left: 0%;
}

.contctcaptchamobile{
	margin-left:-62px;
	margin-top: 82px !important;
	
}
.captext{
 width: 80%;
 }


 }
   .captcha768{
   margin-left: -1px;
   }
   
  .textlocationlist{
   margin-left: 15px !important;
   }
   .downloadfile{
    margin-bottom: 20px;
    margin-left: 5px;
}
 .uploadDesign{
   width: 620px !important; 
   height: 330px;
 } 
 .captext{
 width: 50%;
 }
 .boxcaptcha{
     width: 115px;
 }
 
 .headline1line {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;    
}
.seohometag{
	font-size: 10px;
   /* margin-left: 200px;*/
}
#subscribe-letter{
	padding:67px;
}
.btn-campaign{
	    padding-bottom: 15px;
}
.btn-campaign a{
	    
		color:#fff;
}

.storybox-paper {
    min-height: 720px !important;
    padding-left: 15px;
    padding-right: 15px;
}
.responce-img{
	height:300px;
}
.footer_social {
    float: left;
    padding: 5px;
}
.footbot_social {
    list-style: none outside none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}
.footbot_social li {
    float: left;
    background: none !important;
}
.footbot_social li a {
    color: #ffffff;
    display: block;
    height: 40px;
    text-align: center;
    width: 40px;
    transition: 0.25s;
}
.footbot_social li a i {
    font-size: 18px;
    margin-right: 0;
    float: none;
}
.animate-icon, [class^="animate-icon"], [class*=" animate-icon"] {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-icon, [class^="box-icon-"], [class*=" box-icon-"] {
    z-index: 2;
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px!important;
    text-align: center;
    display: block;
    background: #ff0000 !important;
    color: #fff;
    transition: 0.3s;
}
.round {
    
    border-radius: 50%;
}