{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block body %}
  <section class="section clearfix">
  <div class="container">
    
    <h1 class="page-header">add client details</h1>
    
{{ form_start(form) }}
{{ form_widget(form) }}


{{ form_end(form) }}
</div>
</section>
{% endblock %}
